*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
#navbar{
    width: 20vw;
    background-color: bisque;
    position: fixed;
}
#main-doc{
    position: absolute;
    width: 77vw;
    margin-left: 22vw;
    background-color: blue;
}